main{
    background-color: white;
}
.map td{
    background-size: cover;
    min-width: 100px;
    height: 100px;
    position: relative;
}
.map_pos small{
    color: white;
    font-size: 10px;
    box-sizing:content-box;
    background-color: black;
    padding: 2px 4px;
}

.map_pos .bottom_coordinates{
    position: absolute;
    bottom: 0px;
    left: 2.5em;
}

.map_pos .owner small{
    background-color: #44c54b;
    color: black;
    font-weight: bold;
    border: 1px solid black;
}
